button
  appearance: none
  border: 0

.button
  background-color: $green
  border-radius: 10px
  color: $white
  display: block
  font-weight: $fw-light
  padding: 12px 0
  text-align: center
  text-transform: uppercase
  width: 100%
