.hero
  background-color: $green-transparent
  border-bottom-right-radius: 60px
  border-bottom-left-radius: 60px
  padding: 24px 0

.hero h1
  color: $green
  font-family: $serif
  font-size: 24px
  font-weight: $fw-bold
  margin-bottom: 16px

.hero p
  font-size: 16px