.message
  text-align: center
  background-color: $slate
  position: relative
  display: flex
  align-items: center
  justify-content: center
  div
    padding: 10px
  p
    font-size: 13px
    color: $white
    font-weight: $fw-light
  i
    cursor: pointer
    position: absolute
    left: 10px
    top: 50%
    transform: translateY(-50%)
    padding: 10px