.nav
  justify-content: center
  text-align: right
  @media(min-width: $bp-lg)
    justify-content: flex-end

.nav-item
  color: $green
  display: inline-block
  text-transform: uppercase
  font-size: 12px
  font-weight: $fw-light
  margin: 0 8px
  position: relative
  a
    padding: 0
    @media(min-width: $bp-lg)
      padding: 20px 0
    &.active
      font-weight: $fw-bold
  &:hover
    .sub-nav
      max-height: 200px
  &--lang
    color: $slate


.sub-nav
  position: absolute
  top: 22px
  background-color: $green
  color: $white
  text-align: left
  z-index: 900
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  overflow: hidden
  max-height: 0
  transition: max-height 250ms linear
  @media(min-width: $bp-lg)
    top: 34px
  li
    transition: background-color 250ms linear
    &:first-child
      border-top-right-radius: 20px
    &:last-child
      border-bottom-left-radius: 20px
    &:hover
      background-color: $slate
    a
      display: block
      padding: 10px 20px
      width: 100%

