.footer
  background-color: $green
  padding: 24px
  width: 100%

.footer-logo
  display: block
  margin: 0 auto
  max-width: 250px
  @media(min-width: $bp-md)
    margin: 0

.footer-newsletter
  margin-bottom: 24px
  @media(min-width: $bp-md)
    margin-bottom: 0

.footer-nav
  display: flex
  align-items: center
  ul
    color: $white
    text-transform: uppercase
    font-weight: $fw-light
    text-align: center
    width: 100%
    li
      padding: 5px 0
      a
        &.active
          font-weight: $fw-bold

.footer-social
  text-align: center
  margin-top: 24px
  @media(min-width: $bp-md)
    text-align: right
    margin-top: 0
  a
    color: $white
    display: block
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

.footer-title
  letter-spacing: 1px
  color: $white
  font-weight: $fw-bold
  text-transform: uppercase
  margin-bottom: 10px

.footer-social-link
  color: $white
