.header
  background-color: $white
  box-shadow: 0px 3px 23px -4px rgba(184,184,184,1)
  top: 0
  width: 100%
  z-index: $z-index-9

.header-logo
  display: block
  max-width: 210px
  margin: 5px 0

.header-navigation--menu
  text-align: right
  text-transform: uppercase
  font-weight: $fw-bold
  color: $green