.methods
  margin: 64px auto
  h2
    margin: 24px 0
  p
    margin: 10px auto

.methods__items
  margin-top: 24px
  img
    display: block
    margin: 32px auto
    max-width: 150px
    width: 100%
    @media(min-width: $bp-md)
      max-width: 250px
      width: 100%
  .block
    margin: 32px auto